@page
@model web_voting_sys.Pages.Polls.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Poll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Poll.StartTime" class="control-label"></label>
                <input asp-for="Poll.StartTime" class="form-control" />
                <span asp-validation-for="Poll.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poll.EndTime" class="control-label"></label>
                <input asp-for="Poll.EndTime" class="form-control" />
                <span asp-validation-for="Poll.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poll.Name" class="control-label"></label>
                <input asp-for="Poll.Name" class="form-control" />
                <span asp-validation-for="Poll.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poll.PollCreator" class="control-label"></label>
                <input asp-for="Poll.PollCreator" class="form-control" />
                <span asp-validation-for="Poll.PollCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poll.Type" class="control-label"></label>
                <select asp-for="Poll.Type" class="form-control" asp-items="Html.GetEnumSelectList<Model.PollType>()"></select>
                <span asp-validation-for="Poll.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poll.NumberOfQuestions" class="control-label"></label>
                <select asp-for="Poll.NumberOfQuestions" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="Poll.NumberOfQuestions" class="text-danger"></span>
            </div>

            @foreach (var input_question in Model.Poll.Questions)
            {
                <p>Default Question: @Html.DisplayFor(model => input_question.Question)</p>
            }

            @for (int i = 0; i < Model.Poll.NumberOfQuestions; ++i)
            {
                <div class="form-group">
                    <label asp-for="Poll.Questions[i].Question" class="control-label"></label>
                    <input asp-for="Poll.Questions[i].Question" class="form-control" />
                    <span asp-validation-for="Poll.Questions[i].Question" class="text-danger"></span>
                </div>
            }
            @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Poll.Questions)
            </dt>
            @Html.D
            <dd>
                @Html.DisplayFor(model => model.Poll.Questions)
            </dd>
        </dl>*@

            @*<div class="form-group">
            <label asp-for="SingleQ.Question" class="control-label"></label>
            <input asp-for="SingleQ.Question" class="form-control" />
            <span asp-validation-for="SingleQ.Question" class="text-danger"></span>

        </div>*@
            @*@{ for (int i = 0; i < 3; i++)
                {
                    <div class="form-group">
                        <label asp-for="PollQuestions.ElementAt(NumberOfQuestions - 1).Question" class="control-label"></label>
                        <input asp-for="PollQuestions.ElementAt(i).Question" class="form-control" />
                        <span asp-validation-for="PollQuestions.ElementAt(i).Question" class="text-danger"></span>
                    </div>
        }
                    }*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
