@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This project is an electronic voting system that enables voters to vote securely from remote sites 
    (rather than centralized polling sites). The system is configurable, allowing users to specify candidates, 
    a date range for voting, and who can vote. The winning number of votes can be determined without waiting until 
    all votes are casted, like in presidential elections. We built a web-based implementation that is robust, 
    user-friendly, and deployable. The system will eventually include a user interface showing the voting results 
    (e.g., the final votes each candidate received and the winning candidate and possibly the vote statistics by 
    geographic locations or political regions) for which visualizations can be employed to enhance the understanding 
    of results. However, this has not been implemented yet in this prototype.</p>
<p>The creators of this site were Kyler Little, Tony Yockey, Bobby Belter, Jeff Kremer, and Lance Hoffmann.</p>
